<div class="card card-body">
  <h3>Edit Idea</h3>
  <form action="/ideas/{{idea.id}}?_method=PUT" method="post">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" required value="{{idea.title}}">
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea name="details" class="form-control" rows="8" cols="80" require>
        {{idea.details}}
      </textarea>
    </div>
    <div class="form-group">
      <label for="due_date">Due Date</label>
      <input type="date" class="form-control" name="due_date" required value="{{formatDate due_date 'Y-M-DD'}}">
    </div>

    <div class="form-group">
      <select name="status" class="form-control form-control-lg" value="{{idea.status}}">
        <option selected="selected">
          {{idea.status}}
        </option>
        <option value="Not Started">Not Started</option>
        <option value="Started">Started</option>
        <option value="Finished">Finished</option>
        <option value="Delayed">Delayed</option>
        <option value="Cancelled">Cancelled</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

  </form>
</div>
