{{#each errors}}
  <div class="alert alert-danger">
    {{text}}
  </div>
{{else}}
{{/each}}

<div class="card card-body">
  <h3>Edit Idea</h3>
  <form action="/ideas" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" required value="{{idea.title}}">
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea name="details" class="form-control" rows="8" cols="80" required>
        {{idea.details}}
      </textarea>
    </div>
    <div class="form-group">
      <label for="due_date">Due Date</label>
      <input type="date" class="form-control" name="due_date" required value='{{idea.due_date }}'>
    </div>
    <div class="form-group">
      <select name="status" class="form-control form-control-lg" value="{{idea.status}}">
        <option value="Not Started">Not Started</option>
        <option value="Started">Started</option>
        <option value="Finished">Finished</option>
        <option value="Delayed">Delayed</option>
        <option value="Cancelled">Cancelled</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

  </form>
</div>

<h1>{{idea.due_date}}</h1>
