{{#each ideas}}
  <div class="card card-body mb-2">
    <div class="row">
      <div class="col-md-8">
        <h4>{{title}}</h4>
        <p>{{{details}}}</p>

      </div>
      <div class="col-md-2">
        <strong>Status: </strong> {{status}}
        <strong>Due Date:</strong> {{{formatDate due_date 'MMMM Do YYYY'}}}

      </div>
    </div>
    <a class="btn btn-dark btn-block" href="/ideas/edit/{{id}}">Edit</a>
    <form  method="post" action="/ideas/{{id}}?_method=DELETE">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="btn btn-danger btn-block mt-2" value="Delete">
    </form>
  </div>
{{else}}
  <p>No ideas listed</p>
{{/each}}
